html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map,
#pano {
  float: left;
  height: 50%;
  width: 50%;
}

.btn:focus {
  background-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}
